{% extends '::base.html.twig' %}

{% block title %} Form Generico {% endblock %}


{% block content %}

	{% block contentTitle %}<h3> Form Generico </h3>{% endblock %}

	{{ form(form) }}

{% endblock %}
