{% extends '::base.html.twig' %}

{% block title %}Porte Aperte Inverno{% endblock %}


{% block content %}

	{% block contentTitle %}<h3> Porte Aperte Inverno </h3>{% endblock %}
	{# { form(form, {'attr': {'novalidate': 'novalidate'}}) } #}
	{{ form(form) }}

{% endblock %}