<HTML>

	<HEAD>

		<link href="{{ asset('css/show.css') }}" type="text/css" rel="stylesheet" />
		{% block title %}<title>Form Porte Aperte Estate</title>{% endblock%}
	
	</HEAD>

	<BODY>

		{# src/Blogger/BlogBundle/Resources/views/Page/stage.html.twig #}
		{# % extends 'A4UFormBundle::layout.html.twig' % #}

		
	    <h1>Porte Aperte Estate</h1>
	    
	    {# Rende il form inserendo dei controlli HTML5 per validarli lato client #}
	    {{ form(form) }}
		

	</BODY>

</HTML>
