{% extends '::base.html.twig' %}

{% block title %}Esse3 Unicam{% endblock %}

{% block body %}

    <p>Subscribed </p>
    <div style="margin-top:20px;">
            
            {% for row in subscribed%}
                <li>{{ row.fiscalcode }}</li>
             {% endfor %}
	</div>
    <p>Not Subscribed </p>
    <div style="margin-top:20px;">
            
            {% for row in not_subscribed%}
                <li>{{ row.fiscalcode }}</li>
             {% endfor %}
	</div>

{% endblock %}

