{# src/Blogger/BlogBundle/Resources/views/Page/porte_aperte_estate.html.twig #}
{# % extends 'BloggerBlogBundle::layout.html.twig' % #}

{% block title %}porte aperte estate{% endblock%}

{% block body %}
    <header>
        <h1>Porte aperte estate</h1>
    </header>

{% endblock %}
